/* Select by tagname */
h1 {
  color: red;
  position: relative;
}

h1:hover {
	color: green;
	right: -5px;
	font-size: 7em;
}

/* Select by classname */
.header-alt {
  border-bottom: 2px solid red;

}

/* Select a single element by its ID */
#header-primary {
  text-transform: uppercase;
}

/* Select all H1s AND all .header-alts */
h1,
.header-alt {
  border-top: 2px solid blue;
}

/* Use descendent selectors */
div p {
  font-style: italic;
}

.container {
	display: inline-block;
	padding-top: 50px;
}
/* Target all p's and a's inside of divs */
div p, div a {}

.marquee {
	font-size: 5em;
	font-weight: bold;
	background-image: url("http://stream1.gifsoup.com/view/837768/fireworks-o.gif");
	color: white;
}

body {
	background-image: url("https://coedmagazine.files.wordpress.com/2009/09/seizure.gif");
}

nav:hover {
	display: none;
}
nav {
	text-align: center;
	font-size: 4em;
}


.blink_text {
-webkit-animation-name: blinker;
-webkit-animation-duration: 1s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;

-moz-animation-name: blinker;
-moz-animation-duration: 1s;
-moz-animation-timing-function: linear;
-moz-animation-iteration-count: infinite;

 animation-name: blinker;
 animation-duration: 1s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;

}

@-moz-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@-webkit-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

.header-alt {
	-webkit-animation-name: example; 
  -webkit-animation-duration: 4s; 
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}


