/* Select by tagname */
h1 {
  color: red;
  position: relative;
}

h1:hover {
	color: green;
	right: -5px;
}

/* Select by classname */
.header-alt {
  border-bottom: 2px solid red;

}

/* Select a single element by its ID */
#header-primary {
  text-transform: uppercase;
}

/* Select all H1s AND all .header-alts */
h1,
.header-alt {
  border-top: 2px solid blue;
}

/* Use descendent selectors */
div p {
  font-style: italic;
}

/* Target all p's and a's inside of divs */
div p, div a {}

.header-alt {
	-webkit-animation-name: example; 
  -webkit-animation-duration: 4s; 
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}

.marquee {
	font-size: 5em;
	font-weight: bold;
	background-image: url("http://stream1.gifsoup.com/view/837768/fireworks-o.gif")
}

body {
	background-image: url("https://coedmagazine.files.wordpress.com/2009/09/seizure.gif");
}